<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438830423550-66g9dd52k4kui77ncbu1muneft4mftfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438830423550-66g9dd52k4kui77ncbu1muneft4mftfc</string>
	<key>API_KEY</key>
	<string>AIzaSyB6-JYUv9yyxTiKliKsvdB8laSq9GcE4tM</string>
	<key>GCM_SENDER_ID</key>
	<string>438830423550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.kaisei.iwata.JTalk</string>
	<key>PROJECT_ID</key>
	<string>jtalk-5a5f6</string>
	<key>STORAGE_BUCKET</key>
	<string>jtalk-5a5f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438830423550:ios:7128766473b73691af74af</string>
</dict>
</plist>